<div  mat-dialog-content>
<!-- Page content -->
  <!-- Table -->
  <div class="row justify-content-center">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h1 class="mb-0">Cataylst</h1>
            <small>Project Request Form</small>
          </div>
          <form role="form" [formGroup]="requestForm" >
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-hat-3"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Project Name"
                  type="text"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-pin-3"></i
                  ></span>
                </div>
                <select class="form-control">
                  <option value="" disabled>Category</option>
                  <option>Giving Back</option>
                  <option>Research</option>
                  <option>Project</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-calendar-grid-58"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Start Date"
                />
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon style="color: #adb5bd;"
                    >keyboard_arrow_down</mat-icon
                  >
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-calendar-grid-58"></i
                  ></span>
                </div>
                <input
                  matInput
                  [matDatepicker]="picker1"
                  placeholder="End Date"
                  class="form-control"
                />
                <mat-datepicker-toggle matSuffix [for]="picker1">
                  <mat-icon matDatepickerToggleIcon style="color: #adb5bd;"
                    >keyboard_arrow_down</mat-icon
                  >
                </mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </div>
            </div>

            <div class="form-group">
              <angular2-multiselect [data]="itemList"
              [(ngModel)]="selectedItems"
              [settings]="settings"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="OnItemDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"
              formControlName="skills"
              style="width: auto%;"
              >
        </angular2-multiselect>
            </div>

            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    >Project Description
                  </span>
                </div>
                <textarea matInput class="form-control"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"> </textarea>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary mt-4">
                Publish Request
              </button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
